# Git
*.patch
*.diff

# macOS
.DS_Store

# VSCode
.vscode

# IDF
examples/**/build
examples/**/managed_components
examples/**/sdkconfig
examples/**/sdkconfig.old
examples/**/dependencies.lock
examples/**/**.lock
examples/**/managed_components

# Binary files
**.bin
**.elf
**.map
**.a
**.lib
**.hex
**.o
**.d
**.dSYM

# Doxygen
docs/html
docs/latex
docs/perlmod

# Python
__pycache__
*.pyc
.venv

# Logs
*.log

# Cache (clangd)
.cache
compile_commands.json
