[submodule "components/acoustics/3rdparty/opus"]
	path = components/acoustics/3rdparty/opus
	url = https://github.com/xiph/opus
[submodule "components/acoustics/3rdparty/libsamplerate"]
	path = components/acoustics/3rdparty/libsamplerate
	url = https://github.com/libsndfile/libsamplerate
